@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "app.scss";

* {
	font-family: "Open Sans", sans-serif;
}

@layer components {
	.scroll-y-style::-webkit-scrollbar {
		height: 100%;
		width: 4px;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-y-style::-webkit-scrollbar-thumb {
		background: #0004;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar {
		height: 4px;
		width: 100%;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar-thumb {
		background: #0004;
		@apply rounded-full;
	}
}
